*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

.box{
    width: 37.5rem;
    margin: 0 auto;
    max-width: 600px;
    min-width: 350px;
    footer{
        width: 100%;
        height: 18rem;
        background-color: #2F3130;
        .footer{
            width: 90%;
            height: 18rem;
            margin: 0 auto;
            display: flex;
            .foot1{
                width: 100%;
                
            }
        }
    }
}
