* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
.box {
  width: 37.5rem;
  margin: 0 auto;
  max-width: 600px;
  min-width: 350px;
}
.box header {
  width: 100%;
}
.box header ul {
  width: 100%;
  background-color: #FF8A00;
  display: flex;
}
.box header ul li {
  padding: 0.7rem 0;
}
.box header ul li:nth-of-type(1) {
  flex: 4;
}
.box header ul li:nth-of-type(1) a img {
  width: 55%;
  height: 4rem;
  padding-left: 3.5rem;
}
.box header ul li:nth-of-type(2) {
  flex: 1;
  text-align: center;
}
.box header ul li:nth-of-type(2) a img {
  width: 45%;
  height: 4rem;
}
.box header ul li:nth-of-type(3) {
  flex: 1;
}
.box header ul li:nth-of-type(3) a img {
  width: 45%;
  height: 4rem;
}
